* {
  text-align: center;
  font-size: x-large;
  font-weight: 800;
}
nav {
  width: 90%;
  text-align: center;
  margin: auto;

  display: flex;
  gap: 5rem;
}
a {
  text-decoration: none;
}
div {
  border: 1px solid black;
}
